# Environment & Secret files
.env
.env.local
*.env
credentials.json
token.json

# Node dependencies
node_modules/
npm-debug.log*

# System & OS files
.DS_Store
Thumbs.db

# Logs & build outputs
*.log
dist/
build/
models/
models/f2bade0bc5cd4a8c_Llama-3.2-1B-Instruct-Q4_0.gguf
models/
*.gguf
tokens.json
.env
